---
import Layout from '@/layouts/Layout.astro';
import { Clock, MapPin, CalendarDays } from "lucide-react";
import { Timetable } from '@/components/Timetable.tsx';
---
<Layout title="情報科発表会">
  <main class="min-h-screen bg-slate-50 p-6">
    <div class="max-w-md mx-auto mb-8 text-center">
      <h1 class="text-3xl sm:text-4xl font-extrabold mb-5">
        新宿山吹高校<br class="sm:hidden" />
        <span class="inline-block">情報科発表会</span>
      </h1>
      
      <div class="inline-flex flex-col bg-white rounded-xl border border-slate-200 shadow-sm p-5 transition-shadow hover:shadow-md">
        <time datetime="2026-03-13" class="flex items-center justify-center gap-2 text-xl font-bold mb-3">
          <CalendarDays className="text-slate-400" size={24} />
          2026.03.13 <span class="text-slate-400 text-sm">(Fri)</span>
        </time>

        <div class="w-full h-px bg-slate-100 mb-3"></div>

        <div class="flex items-center justify-center gap-3 text-sm text-slate-600">
          
          <div class="flex items-center gap-1">
            <div class="p-1.5 bg-slate-50 rounded-full">
              <Clock size={16} />
            </div>
            <span class="font-medium">12:00 受付開始</span>
          </div>
          
          <div class="flex items-center gap-1">
            <div class="p-1.5 bg-slate-50 rounded-full">
              <MapPin size={16} />
            </div>
            <span class="font-medium">大講義室</span>
          </div>

        </div>
      </div>
    </div>
  <Timetable client:load />
  </main>
</Layout>