---
import Layout from '@/layouts/Layout.astro';
import { Maps } from '@/components/map/maps';
import { ROOM_DATA } from '@/constants/maps';
---

<Layout title="マップ | 情報科発表会">
  <main class="p-6 mb-16">
    <div class="max-w-md mx-auto mb-8 text-center">
      <a href="/">
        <h1 class="text-3xl sm:text-4xl font-extrabold mb-6">
          新宿山吹高校<br class="sm:hidden" />
          <span class="inline-block">情報科発表会</span>
        </h1>
      </a>
    </div>

    <Maps client:load roomsData={ROOM_DATA} />

  </main>
</Layout>